<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Getting Data from User</title>
</head>
<body>

	<!-- <form action="control">
		<label> Enter your data </label>
		<input type="text" name="data"/>
		<br/>
		<input type="submit" />
	</form> -->
	
	<form action="control" method="post">
		<h1>Enter your details</h1>
		<label>Name: </label>
		<input type="text" name="name" required/><br/><br/>
		<label>Subject 1 marks: </label>
		<input type="number" name="sub1" required/><br/><br/>
		<label>Subject 2 marks: </label>
		<input type="number" name="sub2" required/><br/><br/>
		<label>Subject 3 marks: </label>
		<input type="number" name="sub3" required/><br/><br/>
		<label>Subject 4 marks: </label>
		<input type="number" name="sub4" required/><br/><br/>
		<label>Subject 5 marks: </label>
		<input type="number" name="sub5" required/><br/><br/>
		<input type="submit" value="Check Percentage"/>
	</form>
</body>
</html>